body,
html {
  height: 100%;
  margin: 0px;
  font-family: poppins;
  background-color: #f7e7ef;
  color: #121215;
}

nav {
  display: block;
  color: white;
}

nav ul {
  background-color: #681b37;
  margin: 0;
  list-style-type: none;
  width: 100%;
  padding: 20px;
}

nav li {
  display: inline;
  margin: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #e1cbcd;
  font-weight: 600;
}

.hero-image {
  background-image: url(../images/mountains.jpg);
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 72px;
  font-weight: 400;
  color: #fdfdfd;
}

h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 30px;
  color: #681b3793;
  font-weight: 300;
}

h4 {
  color: #681b37;
  font-size: 22px;
  font-weight: 300;
}

p {
  font-family: aleo;
  font-weight: 300;
}

main {
  overflow: auto;
}

#main {
  width: 65%;
  float: left;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
}

figure {
  display: inline;
  float: right;
  margin: 10px;
}
.fam-pic {
  max-width: 250px;
  border-radius: 5px;
}

.fam {
  min-height: 270px;
}

.row {
  display: flex;
}

li {
  list-style-type: none;
}

.hobby {
  font-size: 16px;
}
.column {
  flex: 50%;
}

.pod-pic {
  max-width: 22%;
  border-radius: 4px;
  margin: 8px;
}

a {
  text-decoration: none;
  color: #926e7f;
}

a:hover {
  font-weight: 700;
}

#side {
  width: 30%;
  float: right;
  height: 100%;
  padding: 20px 20px 20px 10px;
}

#profile-image {
  width: 80%;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  display: block;
  margin: 5px auto;
}

.side-articles ul {
  list-style-type: none;
  padding-left: 0px;
}

.side-articles,
.main-articles {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #3581e41b;
}

form {
  margin: 20px 10px;
}

.submit {
  font-family: poppins;
  border: 0px;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  background-color: #693e4e;
  color: white;
}
textarea,
.text {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 5px;
  display: block;
  margin: 5px auto;
  width: 95%;
  border: none;
  font-family: aleo;
}

footer {
  bottom: 0px;
  width: 100%;
  height: 5vh;
}

footer div {
  text-align: center;
  margin: 10px;
}

hr {
  border: 1px white solid;
}
